.varela-regular {
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav {
    background: #39354c;
    padding: 20px 10px;
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}

nav a, nav button {
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
    border: none;
    cursor: pointer;
}

main, header {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.google-btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #39354c;
    border: none;
    cursor: pointer;
}
